includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
    level: max
    ignoreErrors:
    excludePaths:
        - app/Filament/Resources/RoleResource/*
        - app/Filament/Resources/RoleResource.php
